*, 
*:before, 
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #000000;
    color: #FFFFFF;
}

.content {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: #0D1317;
}

.display {
    height: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #89D2DC;
}

.result {
    display: flex;
    flex: auto;
    font-size: 32px;
    margin: 0px 8px;
    justify-content: end;
    text-align: right;
}

.buttons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.digit {
    flex: auto;
    margin: 1px;
    width: 32%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}

.operators {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.operator {
    flex-grow: 1;
    margin: 1px;
    width: 99%;
    height: 99%;
    height: 40px;
    font-size: 24px;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equals {
    display: flex;
}

.button {
    background-color: #6564DB;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
}
